* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
nav {
  display: flex;
  justify-content: end;
  height: 10vh;
  align-items: center;
}
.Images {
  padding: 0 15px;
}
.profile-img {
  border-radius: 50%;
  padding: 0 15px;
  height: 40px;
  width: 40px;
}
.search-section {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.google-text {
  font-size: 100px;
}
span {
  padding: 0;
}
.search-bar {
  height: 40px;
  border-radius: 30px;
  width: 500px;
  margin-top: 20px;
  border: 1px solid lightgray;
  padding-left: 40px;
}
.fa-magnifying-glass {
  position: relative;
  left: 35px;
  color: lightgray;
}
.fa-microphone {
  position: relative;
  right: 60px;
}
.fa-camera {
  position: relative;
  right: 55px;
}
.search-buttons {
  margin-top: 20px;
  margin-bottom: 30px;
}
.search-google {
  margin-right: 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px;
  background-color: #f2f2f2;
  width: 150px;
}
.luck-button {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px;
  background-color: #f2f2f2;
  width: 150px;
}
.footer-section {
  background-color: #f2f2f2;
  height: 20vh;
  padding: 10px;
}
.country-france {
  margin: 10px;
}
.objective {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-menu {
  display: flex;
  /* height: 20px; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  color: gray;
  font-size: 12px;
}
.left-footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.right-footer-menu {
  display: flex;
  margin-right: 20px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.left-footer-menu p {
  margin-left: 15px;
}
.right-footer-menu p {
  margin-right: 15px;
}
@media only screen and (max-width: 1200px) {
  .search-bar {
    width: 300px;
  }
  .footer-menu {
    flex-direction: column;
  }
  .footer-section {
    height: fit-content;
  }
  .right-footer-menu {
    margin-right: 0;
    margin-top: 20px;
  }
}
